*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(249,249,249,1) 25%, rgba(249,249,249,1) 60%, rgba(221,221,221,1) 60%);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 6%;
    padding-right: 6%;
}

.logo{
    font-size: 36px;
    color: #1f1f1f;
    letter-spacing: 1px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

nav ul a{
    color: #1f1f1f;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

nav ul li:after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #1f1f1f;
    margin: auto;
    transition: .4s;
}

nav ul li:hover:after{
    width: 100%;
}

.text{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.text h1{
    font-size: 140px;
    color: #1f1f1f;
    line-height: 140px;
    margin-bottom: 20px;
}

button{
    background: #1f1f1f;
    color: white;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    letter-spacing: 23px;
}

.col{
    position: absolute;
    transform: rotate(-90deg);
    top: 50%;
    left: -2%;
}

.col a{
    color: #1f1f1f;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.primariy-btn{
    position: absolute;
    left: 10%;
    bottom: 3%;
}

.primariy-btn span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    color: #1f1f1f;
    cursor: pointer;
}

.primariy-btn i{
    font-size: 20px;
    display: inline-flex;
    width: 80px;
    height: 80px;
    padding-left: 4px;
    text-align: center;
    border: 2px solid #1f1f1f;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.social ul li{
    list-style: none;
    margin: 32px 0px;

}

.social ul li i{
    font-size: 24px;
    color: #1f1f1f;
}

.social ul li i:hover{
    transform: scale(1.2) translateY(-6px);
    transition: .3s;
}

.main-img{
    position: absolute;
    bottom: 0;
    right: 120px;

}

.main-img img{
    
    height: 600px;
}
